In [1]:
import numpy as np
import pandas as pd

In [2]:
!ls

data  read_data.ipynb  README.md

In [4]:
df = pd.read_csv('./data/train_5000.csv', sep=',')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4994,41163,Female,26.0,0,0,Yes,Private,Rural,60.82,31.5,smokes,0
4995,7165,Female,33.0,0,0,Yes,Private,Urban,77.02,32.2,formerly smoked,0
4996,10745,Female,52.0,0,0,Yes,Govt_job,Urban,110.77,39.5,formerly smoked,0
4997,26015,Female,66.0,0,0,Yes,Self-employed,Urban,101.45,NaN,NaN,1
4998,58499,Female,31.0,0,0,No,Private,Rural,87.42,32.4,never smoked,0